@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.addUserForm {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 5px;
  margin: 0 auto;
}
.user {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 200px;
  p {
    margin: 0;
  }
}

.user-exit-active {
  animation: user 800ms ease-out forwards;
}

.user-enter-active {
  animation: user 800ms ease-in alternate-reverse;
}

@keyframes user {
  0% {
    transform: translateX(0);
  }
  30% {
    opacity: 0.7;
    transform: translateX(30px);
  }
  100% {
    opacity: 0;
    transform: translateX(-200px);
  }
}
